include partials/header.pug
    include partials/navbar.pug
    div(style="height: 20px; width: 100vw")
    form.px-3.py-2.mt-5(action="/new_video" method="POST")
        //- - let collections = user.collections;
        //- - console.log(collections);
        label.mx-1(for="collection") Collection:
        div.form-group.row.mx-1
            select#collection.form-control-lg(name="collection")
                option(value="new_collection") New Collection
                for collection in collections
                    option(value=`${collection.title}`) #{ collection.title }
                //- each collection in collections
                //-     option(value=collection) #{collection}
        div.form-group.row.mt-2
            label.mx-1(for="url") URL:
        div.form-group.row.mx-1
            input#url.form-control-lg(name="url" type="text" placeholder="URL of YouTube video")
        div.row.px-3.mt-2 Start Time
        .form-group.row
            div.col-sm-6
                .row.mx-1 Minutes
                .row.mx-1
                    select.form-control-lg(name="start_minutes")
                        - for (let i = 0; i < 6; i++) {
                            option.form-control(value=i)= i
                        - }
            div.col-sm-6
                .row.mx-1 Seconds
                .row.mx-1
                    select.form-control-lg(name="start_seconds")
                        - for (let i = 0; i < 60; i++) {
                            option(value=i)= i
                        - }



        div.row.px-3.mt-2 End Time
        .form-group.row
            div.col-sm-6
                .row.mx-1 Minutes
                .row.mx-1
                    select.form-control-lg(name="end_minutes")
                        - for (let i = 0; i < 6; i++) {
                            option.form-control(value=i)= i
                        - }
            div.col-sm-6
                .row.mx-1 Seconds
                .row.mx-1
                    select.form-control-lg(name="end_seconds")
                        - for (let i = 0; i < 60; i++) {
                            option(value=i)= i
                        - }
        .row.px-3.mt-2
            button#inputButton.btn.btn-primary(type="submit") Submit


    include partials/footer.pug
