include partials/header
    link(rel="stylesheet", href="../styles/view_collections_stylesheet.css")
    include partials/navbar



    div(style="height: 62px; width: 100vw")
    #collections-container.d-flex.flex-column(style="width: 100vw").bg-image
        img(src="../assets/lofi.jpg").w-100
        - var flushNum = 1
        .accordion.accordion-borderless#accordionFlushExampleX.mask.mask-custom
            for collection in collections
                .accordion-item
                    form.form-check(action=`update_collection/${collection.title}`, method="POST")
                        h2.accordion-header(id=`flush-heading${flushNum}`)
                            button.accordion-button(type="button" data-mdb-toggle="collapse" data-mdb-target=`#flush-collapse${flushNum}` aria-expanded="false" aria-controls=`flush-collapse${flushNum}`).
                                #{collection.title}
                        .accoridon-collapse.collapse(id=`flush-collapse${flushNum}` aria-labelledby=`flush-heading${flushNum}` data-mdb-parent="#accordionFlushExampleX")
                            .accordion-body
                                .card 
                                    .card-body.container
                                        h3.card-title Title:
                                        input.card-text(type="text", name="title", value=`${collection.title}`)
                                    ul.list-group.list-group-light
                                        .row.align-items-center
                                            .col 
                                                h3 Days:
                                                li.list-group-item.px3.font-weight-light Monday
                                                    if collection.days.monday === true
                                                        input.form-check-input(type="checkbox", name="monday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="monday")
                                                li.list-group-item.px3.font-weight-light Tuesday
                                                    if collection.days.tuesday === true
                                                        input.form-check-input(type="checkbox", name="tuesday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="tuesday")
                                                li.list-group-item.px3.font-weight-light  Wednesday
                                                    if collection.days.wednesday === true
                                                        input.form-check-input(type="checkbox", name="wednesday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="wednesday")
                                                li.list-group-item.px3.font-weight-light  Thursday
                                                    if collection.days.thursday === true
                                                        input.form-check-input(type="checkbox", name="thursday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="thursday")
                                                li.list-group-item.px3.font-weight-light  Friday
                                                    if collection.days.friday === true
                                                        input.form-check-input(type="checkbox", name="friday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="friday")
                                                li.list-group-item.px3.font-weight-light  Saturday
                                                    if collection.days.saturday === true
                                                        input.form-check-input(type="checkbox", name="saturday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="saturday")
                                                li.list-group-item.px3.font-weight-light  Sunday
                                                    if collection.days.sunday === true
                                                        input.form-check-input(type="checkbox", name="sunday" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="sunday")
                                            .col 
                                                h3 Times of Day:
                                                li.list-group-item.px3.font-weight-light Morning
                                                    if collection.time.morning === true
                                                        input.form-check-input(type="checkbox", name="morning" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="morning")
                                                li.list-group-item.px3.font-weight-light Afternoon
                                                    if collection.time.afternoon === true
                                                        input.form-check-input(type="checkbox", name="afternoon" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="afternoon")
                                                li.list-group-item.px3.font-weight-light Evening
                                                    if collection.time.evening === true
                                                        input.form-check-input(type="checkbox", name="evening" checked)
                                                    else
                                                        input.form-check-input(type="checkbox", name="evening")
                                            
                            button(type="submit", value="Submit").btn.btn-success.btn-rounded Update

                            a(href=`/delete_collection/${collection.title}`).btn.btn-danger.btn-rounded Delete
            
                - flushNum = flushNum + 1;

        hr
        a.btn.btn-info.btn-rounded(href="/new_video") Let's Make a new one!












    script(src="../scripts/viewCollectionHandler.js") ;
    include partials/footer
